@charset "utf-8";
/* CSS Document */



.outer{
	width: 1920px;
	
	margin: 0 auto;
}

.header{
	margin: 0 auto;
	width: 1187px;
	height: 80px;
	
}

.logo{
	width: 15%;
	height: 80px;
	background-color: white;
	float: left;
}

.logo img{
	margin: 22px 0 15px 15px;
	width: 80%;
}

.menu{
	width: 70%;
	height: 80px;
	background-color:white;
	float: left;
	font-family: serif;
	font-size: 12pt;
}

.menu ul{
	list-style: none;
}

.menu ul li a{
	font-size: 12pt;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.menu ul li:hover ul a{
	color: black;
	
}

.menu ul li{
	float: left;
	padding: 31px 20px;
	position: relative;
	z-index: 1000;
	transition: all 0.1s;
}

.menu ul li:hover{
	background-color:#D6B278;
}

.menu ul li:hover a{
	color: white;
}


.menu ul li ul{
	background-color: white;	
	position: absolute;
	top: 80px;
	left: 0px;
	visibility: hidden;
	
}

.menu ul li:hover ul{

	visibility: visible;
}

.menu ul li ul li:hover a{
	color: white;
}

.menu ul li ul li{
	width: 180px;
}

.menuIcon{
	width: 5%;
	height: 80px;
	float: left;
	
	transition: all 0.2s;
}

.menuIcon:hover{
	background-color: #D6B278;
}

.menuIcon:hover a{
	transform: scale(1.02)
}

.menuIcon a img{
	margin: 27px 18px;
	width: 40%;
}

.slider{
	
	width: 1920px;
	height: 750px;
	
	
}

.slider img{
	width: 1920px;
	position: relative;
	
}

.mySlides{
	display: none;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 400px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #D6B278;
  font-weight: bold;
  font-size: 18px;
  transition: 0.4s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
	background-color:white;
	opacity: 0.8;
	text-decoration: none;
}

.prev{
	margin-left: 150px;
}

.next {
  margin-left: 1750px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #EFEFEF;
	opacity: 1;
}

.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.product{
	margin: 0 auto;
	width: 1187px;
	height: 650px;
	
	margin: 0 auto;
}

.producta{
	margin: 0 auto;
	width: 1187px;
	height: 250px;

}

.productb{
	width: 1187px;
	height: 850px;
	margin: 0 auto;
	
}

.productc{
	margin: 0 auto;
	width: 1187px;
	height: 1052px;
	
}

.arrow{
	padding: 35px 0 20px 0;
	width: 30px;
	height: 100px;
	float: right;
	font-size: 20pt;
	
}

.arrow a{
	text-decoration: none;
	transition: all 0.2s;
	color: #919191;
}

.arrow a:hover{
	transform: scale(2);
	opacity: 0.9;
	color: #646464;
}

.productc p{
	margin: 40px 30px;
	font-size: 15pt;
	font-weight: bold;
	float: left;
}

.productDouble{
	width: 780px;
	height: 430px;
	border: solid thin #D7D7D7;
	margin: 20px 10px 20px 0;
	float: left;
}



.productDoubleImg{
	widows: 780px;
	height: 330px;
	
	transition: all 0.2s;
}


.productDoubleImg:hover{
	transform: scale(1.02);
	opacity: 0.9;
}

.productSingle-left{
	width: 375px;
	height: 430px;
	border: solid thin #D7D7D7;
	margin: 20px 28px 20px 0;
	float: left;	
}

.productSingle-right{
	width: 375px;
	height: 430px;
	border: solid thin #D7D7D7;
	margin: 20px 0 20px 5px;
	float: right;	
}

.productSingleImg{
	widows: 375px;
	height: 330px;

	transition: all 0.2s;
}

.productSingleImg:hover{
	transform: scale(1.02);
	opacity: 0.9;
}

.productCol{
	width: 355px;
	height: 150px;
	background-color: white;
	float: left;
	margin: 50px 20px;
	padding: 25px 0px;
	border:7px double #D7D7D7;
	transition: all 0.15s;
}

.productCol:hover{
	transform: scale(1.03);
	opacity: 0.9;
}

.productCol img{
	width: 80px;
	
	padding: 10px 0px 5px 10px;
	float: left;
	
}

.productCol a{
	font-family: helvetica;
	text-decoration: none;
	font-size: 12pt;
	color:#313131 ;
	font-weight: bold;
	opacity: 5;
	float: left;
	padding: 25px 5px 0 5px;
}

.productCol a h5{
	font-family: helvetica;
	text-decoration: none;
	font-size: 11pt;
	color: #A9A9A9 ;
	font-weight: bold;
	opacity: 5;
	float: left;
	margin-top: -18px;
}

.productLarge{
	width: 578px;
	height: 725px;
	
	float: left;
	margin: 10px 0;
}

.productLarge img{
	height: 725px;
	transition: all 0.4s;
}

.productLarge img:hover{
	opacity: 0.8;
	transform: scale(1.02);
}

.productSmall{
	width: 600px;
	height: 725px;
	
	float: right;
	margin: 10px 0px;
	background-color: white;
}

.productSmallImg{
	width: 280px;
	height: 360px;
	
	float: left;
	margin: 0 0 5px 20px;
	
}

.productSmallImg img{
	width: 280px;
	transition: all 0.4s; 
}

.productSmallImg img:hover{
	opacity: 0.9;
	transform: scale(1.02);
}

.productSmallImg p{
	text-align: center;
	font-size: 12pt;
	font-weight: 600;
	margin-top: 5px;
}

.productSmallImg h6{
	text-align: center;
	font-size: 10pt;
	color: #D6B278;
	font-weight: 600;
	margin-top: 5px;
	opacity: 0.8;
}

.productSmallImg span{
	color: grey;
	text-decoration: line-through;
	opacity: 0.7;
}

.ad{
	width: 1920px;
	height: 560px;
	
}

.ad img{
	width: 1920px;
	overflow: hidden;
	transition: all 0.4s;
}

.member{
	margin: 0 auto;
	width: 1187px;
	height: 600px;
	
}

.member img{
	transition: all 0.2s;
}

.member img:hover{
	transform: scale(1.02);
	opacity: 0.9
}

.title{
	padding-top: 10px;
	width: 1187px;
	height: 70px;
	float: left;
}

.title h2{
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid #DFDFDF;
	line-height: 0.1em;
	margin: 10px 0 15px;
}

.title h2 span{
	background: #FFFFFF;
	padding: 0 20px;
}

.memberContainer{
	width: 1187px;
	margin:10px 0 0 0;
	float: left;

}

.memberImg{
	margin: 50px 22px;
	width: 350px;
	height: 400px ;
	float: left;
	background-color: white;
}

.feedback{
	margin: 0 auto;
	width: 1187px;
	height: 600px;
	
}

.feedbackContainer{
	width: 1187px;
	height: 300px;
	margin: 10px 0 0 0;
	float: left;
	
}

.posts{
	margin: 0 auto;
	width: 1187px;
	height: 600px;
	
}

.posts img{
	transition: all 0.2s;
}

.posts img:hover{
	transform: scale(1.02);
	opacity: 0.9;
}

.postsContainer{
	width: 1187px;
	margin:10px 0 0 0;
	float: left;
}

.postsContainer img{
	width: 350px;
}

.infoBG{
	width: 1920px;
	background-color: #272727;
}

.info{
	margin: 0 auto;
	width: 1187px;
	height: 600px;
	
	margin: 0 auto;
}

.infoColLeft{
	width: 330px;
	height: 445px;
	
	float: left;
	margin: 10px 32px 10px 0;
}

.infoColRight{
	width: 330px;
	height: 445px;
	
	float: right;
	margin: 10px 0 10px 32px;
}

.infoColMid{
	width: 400px;
	height: 445px;
	
	float: left;
	margin: 10px 0;
}

.about{
	margin-top: 30px;
	width: 330px;
	height: 170px;
	float: left;
	
}

.about p{
	margin-top: 10px;
	color: #646464;
	font-size: 11pt; 
}

hr{
	width: 300px;
	height: 2px;
	background-color: #646464;
}

.contact{
	margin-top: 10px;
	width: 330px;
	height: 170px;
	float: left;
	
}

.infoHeader{
	width: 330px;
	color: white;
	margin-bottom: 9px;
}

.newsletter{
	width: 400px;
	height: 300px;
	margin-top: 70px;
	
}

.newsletter p{
	margin: 30px 0;
	color: #646464;
	font-size: 11pt; 
}


.enterEmail{
	margin: 10px 0;
	width: 400px;
	height: 70px;
	background-color: #474747;
	transition: all 0.2s;
}

.enterEmail a{
	
	line-height: 70px;
	text-decoration: none;
	padding: 0 0 0 135px;
	color: white;
	font-size: 12pt;
}

.enterEmail:hover{
	opacity: 0.9;
}

.subscribe{
	margin: 10px 0;
	width: 400px;
	height: 70px;
	background-color: #D9B579;
	transition: all 0.2s;
}

.subscribe a{
	line-height: 70px;
	text-decoration: none;
	margin: 0 160px;
	color: white;
	font-size: 12pt;
}

.subscribe:hover{
	opacity: 0.9;
}

.gallery{
	width: 330px;
	height: 350px;
	margin-top: 70px;
	
}

.galleryImg{
	width: 150px;
	height: 150px;
	margin: 5px;
	float: left;
	transition: all 0.2s;
}

.galleryImg img:hover{
	transform: scale(1.01);
	opacity: 0.9;
}

.footerBG{
	width: 1920px;
	background-color: #22211F;
}


.footer{
	margin: 0 auto;
	width: 1187px;
	height: 60px;
	
}

.footer p{
	padding: 25px 0;
	color: #646464;
	font-size: 8pt;
}
















